<!DOCTYPE html>
<html>
<head>
  <title>Shop</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
<script type="text/javascript">
  window.curUser = <%= current_user.to_json.html_safe %>;
</script>
</head>
<body>
  <p class="notice"><%= notice %></p><!--Нужны для проверки-->
  <p class="alert"><%= alert %></p>  <!--работоспособности devise-->

  <ul class="hmenu">
    <%= render 'devise/menu/login_items' %>
  </ul>

<%= yield %>

</body>
</html>
